body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, section, form, div, footer {
    margin: 20px;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #ecf0f1;
    padding: 10px;
    font-weight: bold;
    font-weight: 400;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 25px;

}

section {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}

form {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    background-color: #ecf0f1;
    padding: 10px;
    text-align: center;
}

#formDataContainer {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#formDataContainer p {
    margin: 10px 0;
}

#formDataContainer button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}

@media print {
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #333;
    }

    pre {
        white-space: pre-wrap;
    }

    button {
        display: none; /* Hide the Print Data button in print view */
    }
}
